@white: #fff;
@grey: #bbb;
@black: #000;
@main-text: #252c26;
@header-bg: #a9b089;
@gold-text: #8e734b;
@footer-bg: #e0e1dd;
@button-main: #22505f;
@red-text: #9a1a28;
@verdict-text: #1f1f1f;
@border-grey: #c9cac8;

@ff-main: 'Roboto',Helvetica,Arial,sans-serif;

.page-title{
    font-weight: 400;
    line-height: 1.1;
    font-size: 2.4rem;
}
.modal-header .modal-title{
    font-weight: 700;
    font-size: 2.4rem;
}


.rating-summary .rating-result{
    vertical-align: baseline;
    & > span:before{
        color: @gold-text;
    }
}

.swatch-option {
    &.color {
        min-width: 20px;
        margin: 0 5px 5px 0;
        height: 20px;
    }
    &.text{
        min-width: 25px;
        margin: 0 5px 5px 0;
    }
}
.swatch-attribute.size .swatch-option{
    min-width: 15px;
}

.field.qty{
    position: absolute;
    float: right;
    left: 300px;
    top: -85px;
}
.box-tocart{
    max-height: 50px;
    .actions{
        max-width: 400px;
    }
}
.fieldset{
    position: relative;
}
.action.primary.tocart{
    background: @button-main;
    border: 1px solid @button-main;
    color: @white;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2rem;
    padding: 8px 20px 10px;
    width: 100%;
    font-size: 1.6rem;
    &>span::after{
        position: relative;
        content: '';
        background: url("@{baseDir}images/shopping-bag-small.svg") no-repeat;
        background-position: center;
        background-size: cover;
        display: inline-block;
        top: 1px;
        right: -5px;
        width: 15px;
        height: 15px;
    }
}
#product-addtocart-button{
    max-width: 400px;
    margin: 0;
}
.page-layout-1column{
    .product.media{
        width: 50%;
    }
    .product-info-main{
        width: 48%;
        position: relative;
        .page-title-wrapper h1{
            margin-bottom: 0;
        }
        .product{
            &-add-form{
                padding-top: 0;
            }
            &-info-price {
                .price-box .price-container > span.price-label{
                    display: none;
                }
                .price-box,&{
                    margin-bottom: 0;
                    display: flex;
                }
                .old-price .price-wrapper .price{
                    text-decoration: line-through;
                    font-size: 16px;
                    color: @grey;
                    font-weight: 400;
                }
            }
            &.attribute.sku{
                float: left;
                color: @grey;
                font-size: 14px;
                .type:after {
                    content: ':';
                }
            }
            &-reviews-summary{
                position: relative;
                top: -3px;
                font-size: 14px;
                margin: 0 0 0 5px;
                padding-left: 15px;
                .reviews-actions{
                    margin-top: 0;
                    a{
                        color: @black;
                    }
                }
            }
            &-social-links{
                text-align: right;
                max-width: 400px;
                position: relative;
                top: -25px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: .05em;
                color: @grey;
                .action.towishlist:before{
                    right: -150px;
                    position: relative;
                    line-height: 20px;
                    width: 20px;
                    top: -1px;
                }
            }
        }
    }
    .column.main{
        position: relative;
    }
}

.price-box.price-final_price{
    display: flex;
}
.product-info-price{
    padding-top: 8px;
    & .price-box {
        .price-container .price {
            font-size: 24px;
            line-height: 24px;
            color: @main-text;
        }
        & .old-price{
            display: inline;
            &.sly-old-price.no-display{
                padding: 0 5px;
            }
        }
        .old-price .price-container > span.price-label{
            display: none;
        }
    }
}
.review-control-vote label:before{
    color: @gold-text;
}
.product-info-main .rating-summary,
.customer-review .rating-summary{
    margin-right: 5px;
    padding-top: 2px;
}
.product-addto-links .action{
    padding-right: 35px;
    margin-right: 0;
}
.item.home a{
    color: @black;
}
.discount-box{
    padding-top: 4px;
    &>.discount{
        color: @red-text;
        font-size: 16px;
        font-weight: 400;
    }
}
.fotorama__stage__shaft.fotorama__grab{
    max-height: 508px;
}
.fotorama__nav__shaft{
    .fotorama__active .fotorama__dot{
        background-color: @black;
        border-color: @black;
    }
    &.fotorama__grab {
        .fotorama__thumb-border {
            width: 110px !important;
            border: 1px solid @main-text !important;
        }
        .fotorama__nav__frame.fotorama__nav__frame--thumb{
            width: 110px !important;
        }
    }

}
.fotorama__nav.fotorama__nav--thumbs.fotorama__shadows--{
    &bottom,
    &top {
        height: 505px !important;
        width: 110px !important;
    }
}
.fotorama__stage,
.fotorama__arr.fotorama__arr--prev,
.fotorama__arr.fotorama__arr--next{
    max-height: 505px;
}

html.fotorama__fullscreen{
    .fotorama__arr.fotorama__arr--{
        &prev,
        &next {
            display: none !important;
        }
    }
    .fotorama__stage{
        max-width: 100%;
    }
    .fotorama__nav__shaft{
        margin: 0 auto;
        .fotorama__thumb-border{
            width: 110px !important;
            border: 1px solid @main-text !important;
        }
        .fotorama__nav__frame.fotorama__nav__frame--thumb{
            width: 110px !important;
        }
    }
    .fotorama__nav.fotorama__nav--thumbs.fotorama__shadows--{
        &bottom,
        &top {
            height: 505px !important;
            width: 110px !important;
        }
    }
}
.magnifier-preview{
    top: 0;
    left: 52%;
}
.data.item{
    &.content a{
        color: @black;
        font-weight: 700;
    }
    &.content,
    &.title.allow{
        border-left: none;
        border-right: none;
    }
    &.title.allow h2{
        text-transform: none;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 1.1;
        font-size: 1.6rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }
}
.verdict{
    width: 430px;
    height: 152px;
    margin: 0 auto;
    padding: 6px;
    border: 1px solid @grey;
    &-inner{
        padding: 15px 25px;
        border: 1px dashed #c7c7c7;
        color: @verdict-text;
        text-align: center;
        font-style: normal;
    }
    &-title{
        margin-top: 0;
        margin-bottom: 10px;
        color: @button-main;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
    }
    &-text{
        padding-bottom: 15px;
        color: #5f5f5f;
        font-size: 14px;
        line-height: 18px;
        font-style: italic;
    }
    &-author{
        color: @verdict-text;
    }
}
.product{
    &-details-content{
        max-width: 56%;
        h2{
            margin-top: 0;
            text-transform: none;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 1.1;
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }
    }
    &-code__block {
        padding: 5px;
        border-bottom: 1px solid @white;
        font-size: 14px;
        span{
            color: @red-text;
            font-weight: bold;
        }
    }
    &-pros-list{
        margin-top: 15px;
        padding-left: 15px;
        li{
            margin-bottom: 0;
        }
    }
    &.data.items{
        & > .item.content{
            border-left: none;
            border-right: none;
        }
        &.accordion > .item.title > .switch{
            border-left: 0;
            border-right: 0;
        }
        & > .item.title > .switch{
            background: @white;
        }
    }
    &.info.detailed{
        margin-bottom: 10px;
    }
}
#product\.info\.description{
    display: flex;
}

.weLoveIt{
    &-block{
        padding-bottom: 20px;
        border-bottom: 1px solid @border-grey;
    }
    &-title{
        display: block;
        font-family: @ff-main;
        font-weight: 700;
        font-size: 1.4rem;
        text-align: left;
        padding-left: 10px;
        color: #6D6D6D;
        cursor: default;
        &:hover{
            color: @main-text;
        }
    }
    &-items{
        display: flex;
        text-align: center;
        flex-direction: row;
        margin-bottom: 20px;
    }
    &-action{
        text-align: center;
    }
    &-item{
        width: 100%;
        &__content{
            padding: 20px 40px;
            &-img{
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
                border-radius: 50%;
            }
            &-title{
                margin: 15px auto;
                color: @black;
                font-size: 19px;
                line-height: 20px;
                font-family: @ff-main;
            }
            &-border{
                display: block;
                width: 15%;
                margin: 0 auto;
                border-bottom: 5px solid @header-bg;
                border-radius: 4px;
                text-align: center;
            }
            &-text{
                width: 100%;
                margin-top: 15px;
                font-family: @ff-main;
                color: @black;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
            }
        }
    }
}
.scroll-up{
    width: 49%;
    padding: 12px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.6rem;
    background-image: none;
    background: @button-main;
    border: 1px solid @button-main;
    color: @white;
    cursor: pointer;
    font-family: @ff-main;
    font-weight: 700;
    box-sizing: border-box;
    &:hover,
    &:focus{
        background: @button-main;
        border: 1px solid @button-main;
        color: @white;
    }
}
.block.related .block-title.title{
    padding-top: 20px;
    margin-bottom: 3rem;
    #block-related-heading{
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 1.4rem;
    }
}
.products-grid .product-item-info:hover{
    border: 1px solid @white;
    box-shadow: 0px 3px 12px 0 rgba(0,0,0,.3);
}
.review{
    &-details{
        margin-left: 0 !important;
        flex-direction: column;
        display: flex;
    }
    &-content,
    &-author{
        margin-bottom: 0;
        strong{
            font-weight: 700 !important;
        }
    }
    &-ratings{
        line-height: 18px;
    }
    &-items{
        list-style: none;
        padding-left: 0;
    }
}
.review-details-label,
.label.rating-label,
.review-title{
    display: none;
}

.items.pages-items .item{
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(37,44,38,.4);
    color: rgba(37,44,38,.4);
    text-align: center;
    &:hover{
        border: 1px solid @black;
    }
    .current{
        border: 1px solid @black;
        color: @black;
    }
    .action{
        margin: 0;
        width: 24px;
        height: 24px;
        padding: 0;
    }
    .page{
        line-height: 22px;
    }
    &.current{
        border: 1px solid @black;
    }
    &:active a{
        color: @black;
    }
}

.pages{
    border-bottom: none;
    padding-top: 20px;
    margin-bottom: 0;
    .item{
        font-size: 1.2rem;
        line-height: 2.2rem;
        letter-spacing: normal;
        margin: 0 5px 0 0;
    }
    strong.page{
        background: none;
        padding: 0;
        span{
            width: 100%;
            height: 100%;
        }
    }
    a.page{
        &,
        &:visited{
            color: rgba(37,44,38,.4);
            padding: 0 8px;
        }
        &:hover{
            color: rgba(37,44,38,.4);
        }
    }
    .action{
        box-shadow: none;
        background: none;
        border-radius: 0;
        border: none;
        &:hover{
            background: none;
        }
        &.next:before,
        &.previous:before{
            font-size: 13px;
            position: relative;
            left: -1px;
        }
        &.next:active:before{
            color: @black;
        }
    }
}

.size-chart-link{
    position: absolute;
    top: 55%;
    left: 28%;
    border: none;
    border-bottom: 1px solid @button-main;
    color: @button-main;
    text-decoration: none;
    text-transform: none;
    font-style: italic;
    line-height: 13px;
    padding: 0;
    font-size: 13px;
    font-weight: 600;
    a:hover{
        text-decoration: none;
        text-transform: none;
        color: rgba(37, 44, 38, .6);
        border-color: rgba(37, 44, 38, .3);
    }
}

.table_size{
    margin-top: 5px;
    text-align: center;
    display: table;
    &.active{
        display: none;
    }
}
.size-chart-content{
    h4.chart-title{
        font-weight: 700;
        font-size: 1.9rem;
        text-align: left;
    }
    .chart-text{
        margin-bottom: 10px;
    }
    .how-to-measure-container{
        border-top: 1px solid @border-grey;
        padding-top: 20px;
        display: flex;
        .how-to-measure-image{
            vertical-align: top;
            width: 34%;
            img{
                height: auto;
                max-width: 100%;
            }
        }
    }
    table.table_size{
        th {
            background-color: rgba(169,176,137,.2);
            text-align: center;
            border: 1px solid @border-grey;
            padding: 11px 10px;
            text-transform: inherit;
            font-size: 1.4rem;
        }
        td {
            background-color: @white;
            border: 1px solid @border-grey;
            padding: 11px 10px;
            font-size: 1.4rem;
            text-transform: inherit;
            &:nth-child(1) {
                background-color: @white;
                font-weight: 400;
            }
        }
    }
}
.how-to-measure-content{
    vertical-align: top;
    width: 65%;
    padding-left: 2%;
    h4{
        color: #383838;
        font-weight: 700;
        line-height: 1;
        padding: 0 0 15px;
        text-align: left;
        font-family: @ff-main;
        font-size: 1.9rem;
        margin: 0;
    }
    .how-to-measure-list{
        padding: 0;
        margin: 0;
        list-style-type: none;
        .measure-heading,
        .measure-text{
            margin-bottom: 0;
        }
        .measurment{
            margin-bottom: 10px;
        }
    }
}
.tab-button{
    box-sizing: border-box;
    font-weight: 700;
    background-color: @header-bg;
    border: 1px solid @border-grey;
    padding: 11px 10px;
    margin: 0;
    cursor: pointer;
    border-radius: 0;
    width: max-content;
    display: inline-block;
    &.in{
        border-right: none;
    }
    &.cm{
        left: -4px;
        position: relative;
        border-left: none;
    }
    a{
        color: @black;
        text-decoration: none;
    }
    &.disabled{
        font-weight: 400;
        background: none;
    }
}
.modal-popup{
    &_inner-scroll{
        overflow-y: scroll;
        .modal-inner-wrap{
            max-height: none;
        }
    }
    &.modal-slide {
        .modal-footer {
            border-top: none;
        }
        &._inner-scroll._show{
            padding: 20px;
        }
    }
    .modal{
        &-title{
            border-bottom: none;
        }
        &-inner-wrap{
            margin-top: 5px;
            max-width: 980px;
        }
        &-footer{
            padding-top: 0;
            .action{
                border-radius: 0;
                background: none;
                border: 1px solid rgba(37,44,38,.4);
                color: rgba(37,44,38,.4);
                &:hover{
                    border: 1px solid @black;
                }
                &:active{
                    color: @black;
                }
            }
        }
        &-slide {
            .modal-content {
                padding-bottom: 0;
            }
            &._inner-scroll .modal-content{
                overflow-y: inherit;
            }
        }

    }
}
.new-label-wrap{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 110px;
    width: 125px;
    height: 125px;
    padding: 20px;
    box-sizing: border-box;
    .new-label{
        width: 100%;
        height: 100%;
        background: @white;
        border-radius: 50%;
        border: 1px solid rgba(200,200,200, .5);
        text-align: center;
        strong{
            position: relative;
            font-size: 24px;
            top: 19px;
            color: black;
        }
        &-text{
            font-style: italic;
            position: relative;
            top: 10px;
            font-size: 12px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .fieldset .field.qty{
        left: 235px;
    }
    .gallery-placeholder .new-label-wrap.noselect{
        top: -18px;
        left: -18px;
    }
    .contacts-inner{
        max-width: 315px;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .weLoveIt-action .scroll-up{
        width: 100%;
    }
    .fieldset .field.qty{
        left: 315px;
    }
    .gallery-placeholder .new-label-wrap.noselect{
        left: 0;
    }
    .weLoveIt-block .weLoveIt-items{
        flex-direction: column;
    }
    .page-layout-1column .column.main{
        .product-info-main,
        .product.media{
            width: 100%;
        }
    }
}
& when (@media-target = 'desktop'), (@media-target = 'mobile') {
    @media only screen and (max-width: @screen__l) {
        .data.item.content .product-details-content{
            max-width: 100%;
        }
        #product\.info\.description{
            flex-direction: column;
        }
    }
}
